<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	th:replace="Layouts/Layout::layout( ~{::body})">
    <head>
        <title>Pasarela de pago</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body>
    
       <div class="fondo"></div>
        <form action="#" class="credit-card-div">
            <div class="panel panel-default" >
                <div class="panel-heading">

                    <div class="row ">
                      <div class="col-md-12">
                          <input type="text" class="form-control" placeholder="Ingrese el número de tarjeta" />
                      </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <span class="help-block text-muted small-font" >Mes de vencimiento</span>
                          <input type="text" class="form-control" placeholder="MM" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >Año de caducidad</span>
                            <input type="text" class="form-control" placeholder="YY" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >CCV</span>
                            <input type="text" class="form-control" placeholder="CCV" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 pad-adjust">
                            <input type="text" class="form-control" placeholder="Nombre en la tarjeta" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad-adjust">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked class="text-muted"> Guarde los detalles para pagos rápidos <a href="#"> cómo hacerlo?</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                            <input type="submit"  class="btn btn-danger" value="CANCEL" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                            <input type="submit"  class="btn btn-warning btn-block" value="PAGAR AHORA" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
       
       
        
      
    </body>
</html>
