<html>
    <head>
        <title>Pasarela de pago</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/favicons/logoHiberus.jpg" sizes="16x16">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <style>
           .credit-card-div { 
            width: 500px;
            margin: 250 auto 0;
            span { 
                   padding-top:10px; 
               };
            };
           .credit-card-div 
               img { 
                   padding-top:30px; 
               };
           .credit-card-div 
               .small-font { 
                   font-size:9px; 
               };
           .credit-card-div 
               .pad-adjust { 
                   padding-top:10px; 
               }; 
         
        </style>
    </head>
    <body>
    
        <header id="header">
            <div class="header-container">
                <div class="logo">
                    <a href="/index">
                        <img src="https://fontmeme.com/permalink/210914/1918944ede0bcc7058a0694909fe8184.png" alt="fuente-de-los-vengadores" border="0">
                    </a>
                </div>
                <nav id="nav">
                    <div class="opener-holder">
                        <a href="#" class="nav-opener"><span></span></a>
                    </div>

                    <div class="nav-drop">
                        <ul>
                            <li class="active visible-sm visible-xs"><a href="/index">Inicio</a></li>
                            <li><a href="/reservas" class="btn btn-primary rounded">Reservas</a></li>
                            <li><a href="instalaciones/vistaInstalacion" class="btn btn-primary rounded">Instalaciones</a></li>
                            <li><a href="/contacto" class="btn btn-primary rounded">Contacto</a></li>
                            <li><a href="/login" class="btn btn-primary rounded">Iniciar Sesión</a></li>
                        </ul>
                        <div class="drop-holder visible-sm visible-xs">
                            <span>Síguenos</span>
                            <ul class="social-networks">
                                    <li><a class="fa fa-github" href="#"></a></li>
                                    <li><a class="fa fa-twitter" href="#"></a></li>
                                    <li><a class="fa fa-facebook" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <form action="#" class="credit-card-div">
            <div class="panel panel-default" >
                <div class="panel-heading">

                    <div class="row ">
                      <div class="col-md-12">
                          <input type="text" class="form-control" placeholder="Ingrese el número de tarjeta" />
                      </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                          <span class="help-block text-muted small-font" >Mes de vencimiento</span>
                          <input type="text" class="form-control" placeholder="MM" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >Año de caducidad</span>
                            <input type="text" class="form-control" placeholder="YY" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="help-block text-muted small-font" >CCV</span>
                            <input type="text" class="form-control" placeholder="CCV" />
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <i class="far fa-credit-card"></i>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 pad-adjust">
                            <input type="text" class="form-control" placeholder="Nombre en la tarjeta" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pad-adjust">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked class="text-muted"> Guarde los detalles para pagos rápidos <a href="#"> cómo hacerlo?</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                            <input type="submit"  class="btn btn-danger" value="CANCEL" />
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                            <input type="submit"  class="btn btn-warning btn-block" value="PAGAR AHORA" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <footer id="footer">
		<div class="container">

			<div class="footer-holder">


                <div class="row">
                	<div class="col-md-6">
                    	<h3>Localización</h3>
                        <p>
                            P.º Isabel la Católica, 6, 50009 Zaragoza
                        </p>
                        <p>
                            Teléfono: 976 10 66 20
                        </p>
                    </div>

                    <div class="col-md-6 text-right">
                    	<ul class="social">
                            <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-paper-plane"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</footer>
</div>
    </body>
</html>
