<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Hiberus Sports</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/favicons/logoHiberus.jpg" sizes="16x16">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/estilosUsuarios.css">
    </head>
    <body>
    <div class="fondo">
    </div>
     <i class=" icono fas fa-chevron-circle-left"onclick="history.back()"style="font-size:70px;color:white; margin-left:20px;margin-top:20px;"></i>
        <div class="container register">
            <div class="row">
                <div class="col-md-3 register-left">
                    <a href="/index"><img src="https://fontmeme.com/permalink/210914/1918944ede0bcc7058a0694909fe8184.png" alt=""/></a>
                    <h3>Bienvenido a HiberusSports</h3>
                    <p> Todo logro empieza con la decisión de intentarlo </p>
                    
                </div>
                <div class="col-md-9 register-right">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" title="Admin"><i class="fas fa-users-cog"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" title="Nuevo usuario"><i class="fas fa-user"></i></a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">Nuevo Administrador</h3>
                            <form action="/usuarios/guardarUsuarios" method="post">
                            <div class="row register-form">
                                <div class="col-md-6"id="primero">
                                    <div class="form-group">
                                        <input type="hidden"  name="id_usuario"required class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="nombre"class="form-control" placeholder="Nombre *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="apellido1"class="form-control" placeholder="Primer apellido *"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="apellido2" class="form-control" placeholder="Segundo apellido *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email"  name="email"class="form-control"  placeholder="Email *"  />
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="dni" class="form-control" placeholder="Dni *"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="password"  name="pass"class="form-control" placeholder="Contraseña *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="imagen" class="form-control"  placeholder="Url(Imagen)*"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden"  name="tipo"class="form-control"  value="Administrador"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="estado"class="form-control" placeholder="Activo o Baja *" />
                                    </div>
                                    <input type="submit" class="btnRegister"  value="Registrarse"/>
                                </div>
                                
                            </div>
                            </form>
                        </div>
                        <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h3  class="register-heading">Nuevo Usuario</h3>
                            <form action="/usuarios/guardarUsuarios" method="post">
                            <div class="row register-form">
                                 <div class="col-md-6"id="primero">
                                     <div class="form-group">
                                        <input type="hidden"  name="id_usuario"required class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="nombre"class="form-control" placeholder="Nombre *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="apellido1"class="form-control" placeholder="Primer apellido *"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="apellido2" class="form-control" placeholder="Segundo apellido *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="email"  name="email"class="form-control"  placeholder="Email *"  />
                                    </div>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="dni" class="form-control" placeholder="Dni *"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="password"  name="pass"class="form-control" placeholder="Contraseña *" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="imagen" class="form-control"  placeholder="Url(Imagen)*"  />
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden"  name="tipo"class="form-control"  value="Usuario"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text"  name="estado"class="form-control" placeholder="Activo o Baja *" />
                                    </div>
                                    <input type="submit" class="btnRegister"  value="Registrarse"/>
                                   
                                </div>
                                  
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
        function volver(){
      		$("form").attr("action","/index").submit();

		};
        </script>
    </body>
</html>
