<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
	   xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  th:replace="Layouts/LayoutForms::layout( htmlcuerpo=~{::body}, htmlHead=~{::head})">
    <head>
        <title>Hiberus Sports</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="/css/estilosUsuariosEditar.css">
    </head>
    <body>
    <div class="fondo"></div>
        <div class="container-form">
        	<div class="container">
        	<div class="title">
            	<h2><b>Creación / Edición de Usuarios</b></h2>
            </div>
                            <form action="/usuarios/guardarUsuarios" th:object="${Usuarios}" method="post">
                            	<div class="row">
                            			<div class="col-3">
                            				
                                     		<div class="form-group ">
                                        		<label>Nombre</label>
                                    		</div>
                                     		<div class="form-group ">
                                        		<label>Apellido1</label>
                                    		</div>
                                     		<div class="form-group ">
                                        		<label>Apellido2</label>
                                    		</div>
                                    		<div class="form-group ">
                                        		<label>Email</label>
                                    		</div>
                                    		
                                    	</div>
                               		 	<div class="col-3">
                                     		<div class="input-group ">
                                        		<input type="hidden" th:field="*{id_usuario}"required class="form-control" />
                                    		</div>
                                    		
                                     		<div class="input-group2 ">
                                        		<input type="text" th:field="*{nombre}"required class="form-control" placeholder="Nombre *" />
                                    		</div>
                                     		<div class="input-group2">
                                        		<input type="text" th:field="*{apellido1}"required class="form-control"placeholder="Primer apellido *" />
                                    		</div>
                                    		<div class="input-group2">
                                        		<input type="text" th:field="*{apellido2}"required class="form-control"placeholder="Segundo apellido *" />
                                    		</div>
                                    		<div class="input-group2">
                                        		<input type="email" th:field="*{email}"required class="form-control" placeholder="Email *" />
                                    		</div>
                                    	</div>
                                    </div>
                                    <div class="row">
                                		<div class="col-3">
                                			<div class="form-group ">
                                        		<label>Dni</label>
                                    		</div>
                                     		<div class="form-group ">
                                        		<label>Contraseña</label>
                                    		</div>
                                     		<div class="form-group ">
                                        		<label>Imagen</label>
                                    		</div>
                                    		<div class="form-group ">
                                        		<label>Tipo</label>
                                    		</div>
                                    		<div class="form-group ">
                                        		<label>Estado</label>
                                    		</div>
                                    	</div>
                                    	<div class="col-3">
                                    		<div class="input-group4">
                                       		 <input type="text" th:field="*{dni}" class="form-control" placeholder="Dni *"  />
                                    		</div>
		                                    <div class="input-group3">
		                                        <input type="password"  th:field="*{pass}"class="form-control" placeholder="Contraseña *" />
		                                    </div>
		                                    <div class="input-group3">
		                                        <input type="text"  th:field="*{imagen}" class="form-control"  placeholder="Url(Imagen)*"  />
		                                    </div>
		                                    <div class="input-group3">
		                                        <input type="text"  th:field="*{tipo}"class="form-control"  placeholder="Administrador *"/>
		                                    </div>
                                
                                			<div class="input-group3">
                                        		 <select name="estado">
                               					 	<option  th:text="Activo" th:value="Activo"></option>
                               					 	<option  th:text="Baja" th:value="Baja"></option>
                            				</select>
                               			    </div>
                               			   
                                		</div>
                                		
                                	</div>
                                	<input type="submit" class="btnRegister"  value="Registrarse"/>
                                	</form>
                                
                           		 </div>
                            </div>
                            
                        
                        
       
    </body>
</html>
