<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  th:replace="Layouts/LayoutForms::layout( htmlcuerpo=~{::body}, htmlHead=~{::head})">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/estilosInstalacion.css">
    </head>
    <body>
    
        <div class="fondo"></div>
    <div class="container-form">
        <div class="container">
        
        	<div class="title">
            	<h2><b>Creación / Edición de Instalaciones</b></h2>
            </div>
            <form action="/instalaciones/guardarInstalacion"th:object="${Instalaciones}" method="post"  enctype="multipart/form-data">
                
                    <div class="col-2">
                        <label for="IdInstalaciones"></label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                            <input th:field="*{IdInstalaciones}" type="hidden"required class="form-control" />
                        </div>
                    </div>
                

                <div class="row">
                    <div class="col-2">
                        <label for="Nombre">Nombre</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                            &nbsp; <input type="text"th:field="*{Nombre}" required class="form-control"  />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Descripción">Descripción</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                            &nbsp;<input type="text"th:field="*{Descripcion}" required class="form-control"name="Descripcion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="Imagen">Imagen</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">
                           &nbsp; <input type="text"th:field="*{Imagen}" name="Imagen" class="form-control" >
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Precio">Precio</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                            &nbsp; <input type="number"th:field="*{Precio}" required class="form-control" name="Precio" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Crear" >


            </form>

	</div>
</div>

        

    </body>
</html>