<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  th:replace="Layouts/LayoutForms::layout( htmlcuerpo=~{::body}, htmlHead=~{::head})">
    <head>
    <meta charset="utf-8">
    
    </head>
    <body>
    
        <div class="fondo">
    </div>
    <i class="icono fas fa-chevron-circle-left"onclick="history.back()"style="font-size:70px;color:white; margin-left:20px;margin-top:20px;" ></i>
        <div class="container register">
        <div class="row"></div>
        
            <h2>Creación de Instalaciones</h2>
            <form action="/instalaciones/guardarInstalacion"th:object="${Instalaciones}" method="post"  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-2">
                        <label for="IdInstalaciones"></label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                            <input th:field="*{IdInstalaciones}" type="hidden"required class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Nombre">Nombre</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                           <i class="far fa-2x fa-user"style="color:white;">&nbsp;</i> <input type="text"th:field="*{Nombre}" required class="form-control"  />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Descripción">Descripción</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                           <i class="far fa-2x fa-edit"style="color:white;"></i> <input type="text"th:field="*{Descripcion}" required class="form-control"name="Descripcion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="Imagen">Imagen</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">
                           <i class="far fa-2x fa-file-image"style="color:white;margin-right:5px;">&nbsp;</i> <input type="text"th:field="*{Imagen}" name="Imagen" class="form-control" >
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Precio">Precio</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                           <i class="fas fa-2x fa-euro-sign"style="color:white;margin-right:17px;"></i> <input type="number"th:field="*{Precio}" required class="form-control" name="Precio" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btnCrear" value="Crear" >


            </form>

</div>

        

    </body>
</html>