<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
    </head>
    <body>
        <button onclick="prueba()" class="btn btn-primary p-5 mt-2"><i class="far fa-calendar-plus">Botón</i></button>
     
        <script>
            function prueba() {
                    bootbox.alert("hola");
                    /*bootbox.dialog({
                        //message: html
                    })*/
                };
            
        </script>
    </body>
</html>
