	*{
	    font-family: "Montserrat", sans-serif!important;
	}
    .container-form{
	    width:1300px;
	    margin-top:160px;
	    background:white;
	    border:5px groove white;
	    margin-bottom:100px;
	    margin-left:350px;
	    padding:-20px;
	    box-shadow: 20px 15px 15px black;
    }
    label{
    margin-top:20px!important;
    font-size:18px;
    }
    .input-group{
    
	    width:100%;
	    margin-bottom:5px;
	     margin-top:-5px;
	    display:inline-grid!important;}
    .form-control{
    width:200px;}
    .row{
    margin-left:0px!important;
        --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    }
    .col-2{
        flex: 0 0 auto;
    width: 16.66666667%;
    }
    .col-10{
    flex: 0 0 auto;
    width: 83.33333333%;
    }
    .title{
        padding-left:10px;
        width:1285px;
        height:60px;
		background: -webkit-linear-gradient(left, #3931af, #00c6ff);
		padding-right:20px;
		margin-top:-22;
		margin-left:-74px;
    }
    h2{
    text-align:center;
    
    }
