<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hiberus Sports</title>
	<meta name="author" content="Manuel López López,Sofia Rebagliato Torregrosa">
	<link rel="icon" type="image/jpg" href="/favicons/logoHiberus.jpg" sizes="16x16">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
        <header id="header">
            <div class="header-container">
                <div class="logo">
                    <a href="#">
                        <img src="https://fontmeme.com/permalink/210914/1918944ede0bcc7058a0694909fe8184.png" alt="fuente-de-los-vengadores" border="0">
                    </a>
                </div>
                <nav id="nav">
                    <div class="opener-holder">
                        <a href="#" class="nav-opener"><span></span></a>
                    </div>

                    <div class="nav-drop">
                        <ul>
                            <li class="active visible-sm visible-xs"><a href="index">Inicio</a></li>
                            <li><a href="/reservas" class="btn btn-primary rounded">Reservas</a></li>
                            <li><a href="instalaciones/vistaInstalacion" class="btn btn-primary rounded">Instalaciones</a></li>
                            <li><a href="/contacto" class="btn btn-primary rounded">Contacto</a></li>
                            <li><a href="/login" class="btn btn-primary rounded">Iniciar Sesión</a></li>
                        </ul>
                        <div class="drop-holder visible-sm visible-xs">
                            <span>Síguenos</span>
                            <ul class="social-networks">
                                    <li><a class="fa fa-github" href="#"></a></li>
                                    <li><a class="fa fa-twitter" href="#"></a></li>
                                    <li><a class="fa fa-facebook" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
	<section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>Entrena<br>Compite<br>Repite</h1>
				</div>
				<p class="tagline">La vida comienza al final de tu zona de confort</p>

				
				

			</div>
		</div>
		<img src="/images/gym.jpeg" alt="" class="bg-stretch">
	</section>
	<section class="main">
		<div class="container">
			<div id="cta">
				<a href="javascript:" class="btn btn-primary rounded">Comenzar entrenamiento</a>
				<p>Todos los dias son un reto, cambia tu vida ahora.</p>
				
			</div>
			<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>Sobre Nosotros</h2>
					<p>En 2021 hemos creado el primer centro de deportes HiberusSports. No solo cumplimos un sueño, al diseñar un centro innovador que se ha convertido en todo un referente para las demás empresas, sino que además nuestros empleados cuentan con las mejores instalaciones y el mejor espacio para desconectar de su rutina.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="area">
	<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>Instalaciones</h2>

				</div>
			</div>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<ul class="visual-list">

					<!-- Revisar mañana viernes porque no creo que funcione bien

					<li th:each="insta:${instalaciones}">
							<div class="img-holder">
								<a href="#"><img src="/images/baloncesto.png" width="90" alt=""></a>
							</div>
							<div class="text-holder">
								<h3><a href="#" th:text="${insta.Nombre}"></a></h3>
								<p th:text="${insta.Descripcion}"></p>

							</div>
						</li> -->
						<li>
							<div class="img-holder">
								<a><img src="/images/baloncesto.png" class="min" width="90" alt=""></a>
							</div>
							<div class="text-holder">
								<h3><a href=" ">Pista de Baloncesto</a></h3>
								<p>El basquet es una pasión que todo jugador siente desde el momento que escucha el rebote de una pelota, la pasión más grande es el querer entrar a la cancha a jugar, hacer un buen partido. En HiberusSports podrás disfrutar de tu deporte preferido con los mejores entrenadores.
								</p>

							</div>
						</li>
						<li>
							<div class="img-holder">
								<a><img  src="/images/volley.png" class="min" width="120" alt=""></a>
							</div>
							<div class="text-holder">
							</br>
								<h3><a href=" ">Pista de Volleyball</a></h3>
								<p>Con nuestra gran pista de Voleibol cubierta, podrás practicar este deporte independientemente de las condiciones climatológicas. Podrás aprender de la mano de profesores altamente cualificados para conseguir el máximo rendimiento.</p>
							</div>
						</li>

						<li>
							<div class="img-holder">
								<a><img src="/images/tennis.png" class="min" height="114" alt=""></a>
							</div>
							<div class="text-holder">
							</br>

								<h3><a href=" ">Pistas de Tenis</a></h3>
								<p>Esa sensación que se produce al tener una bola de Tenis y una raqueta en tus manos...Sí, esa sensación! Te ofrecemos las mejores instalaciones para que puedas practicar tu deporte preferido de la mano del grande Rafael Nadal, sí, lo has leído bien. ¿Te lo vas a perder?</p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<a><img src="/images/pesa.png" class="min" height="100" alt=""></a>
							</div>
							<div class="text-holder">
							</br>

								<h3><a href=" ">Gimnasio</a></h3>
								<p>ENTRENA, INSISTE, PERSISTE ¡RESISTE!</p>
								<p>En HiberusSports, contamos con el mejor gimnasio para que consigas con tus objetivos. Es un proceso lento, no lo hagas más lento renunciando a ello. ¡A por todas!</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="slide-holder">
						<div class="img-slide scroll-trigger"><img id="up" src="/images/gimnasio.png" height="624" width="684" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="visual-container">
		<div class="visual-area">
			<div class="container">
				<h2>Opiniones de nuestros empleados</h2>
				<ul class="testimonials">
					<li>
						<div class="img-holder"><a ><img src="https://i.pinimg.com/564x/a0/92/87/a0928754a81f9660783011f0d719f4d5.jpg" height="104" width="94" alt=""></a></div>
						<p><em>Muy buenas instalaciones y muy buen trato del personal </em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="https://pixabay.com/get/g9a29c1c93f58fb148a2e16bd4a5e4e49f690e8b20280b52b09b43465e0a08d703cd0b7e0b613b1e06d9a2050d2131164_1920.jpg" height="104" width="94" alt=""></a></div>
						<p><em>Un centro muy completo, se respira buen ambiente, lleno de profesionalidad.</em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="https://cdn.pixabay.com/photo/2017/08/12/18/31/male-2634974_960_720.jpg" height="100" width="90" alt=""></a></div>
						<p><em>Encantado al poder tener como profesor a Rafael Nadal. Estoy aprendiendo muchísimo.</em></p>
					</li>

					<li>
						<div class="img-holder"><a href="#"><img src="https://us.123rf.com/450wm/mheim301165/mheim3011651709/mheim301165170900048/86178587-bastante-joven-mujer-africana-abofeteando-sus-labios-y-mirando-a-la-c%C3%A1mara-.jpg?ver=6" height="100" width="130" alt=""></a></div>
						<p><em>Me encanta tener un gimnasio en el trabajo. Me permite desconectar después de una jornada laboral.</em></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="visual-area">
			<div class="container">
				<h2>Cuotas para socios</h2>
				<div class="pricing-tables">
					<div class="plan">
		                <div class="head">
		                    <h3>Empleados</h3>
		                </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>15</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                <ul class="item-list">
		                    <li>Matricula(+15 el primer mes)</li>
		                    <li> + cuota mensual</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>Jovenes(-21)</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>25</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                    <ul class="item-list">
		                       <li>Matricula(+25 el primer mes)</li>
		                       <li> + cuota mensual</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>Adultos(25-50)</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>35</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                    <ul class="item-list">
		                        <li>Matricula(+35 el primer mes)</li>
		                        <li>+ cuota mensual</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan recommended">
		                <div class="head">
		                    <h3>Familiar</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>45</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                <ul class="item-list">
		                    <li>(Para 5 personas acreditando ser familiares)</li>
		                    <li>Matricula(+45 el primer mes)</li>
		                    <li>+ cuota mensual</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
				</div>
 			</div>
		</div>
	</section>

	<section class="area">
		<div class="container">
			<div class="subscribe">
				<h3>Contacta con nosotros</h3>
				<form class="form-inline">
                                        <a href="/contacto" class="btn btn-primary rounded">Contactar</a>
				</form>
			</div>
		</div>
	</section>

	<footer id="footer">
		<div class="container">

			<div class="footer-holder">


                <div class="row">
                	<div class="col-md-6">
                    	<h3>Localización</h3>
                        <p>
                            P.º Isabel la Católica, 6, 50009 Zaragoza
                        </p>
                        <p>
                            Teléfono: 976 10 66 20
                        </p>
                    </div>

                    <div class="col-md-6 text-right">
                    	<ul class="social">
                            <li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-paper-plane"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</footer>
</div>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.main.js"></script>
<script>
      $('.min').click(function() {
        var imagen = $(this).attr("src");
        $('#up').attr("src", imagen);
      });
    </script>
</body>
</html>
