<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Hiberus Sports</title>
	<meta name="author" content="Manuel López López,Sofia Rebagliato Torregrosa">
	<link rel="icon" type="image/jpg" href="../../static/favicons/logoHiberus.jpg" sizes="16x16">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/fonts/font-awesome-4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper">
		<header id="header">
			<div class="container">
				<div class="logo"><a href="#"><img src="https://fontmeme.com/permalink/210914/1918944ede0bcc7058a0694909fe8184.png" alt="fuente-de-los-vengadores" border="0"></a></div>
				<nav id="nav">
					<div class="opener-holder">
						<a href="#" class="nav-opener"><span></span></a>
					</div>
					
					<div class="nav-drop">
						<ul>
							<li class="active visible-sm visible-xs"><a href="#">Inicio</a></li>
							<li><a href="#"class="btn btn-primary rounded">Reservas</a></li>
							<li><a href="#"class="btn btn-primary rounded">Instalaciones</a></li>
							<li><a href="#"class="btn btn-primary rounded">Contacto</a></li>
							<li><a href="javascript:" class="btn btn-primary rounded">Registrate</a></li>
						</ul>
						<div class="drop-holder visible-sm visible-xs">
							<span>Siguenos</span>
							<ul class="social-networks">
								<li><a class="fa fa-github" href="#"></a></li>
								<li><a class="fa fa-twitter" href="#"></a></li>
								<li><a class="fa fa-facebook" href="#"></a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
	<section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>Entrena<br>Compite<br>Repite</h1>
				</div>
				<p class="tagline">La vida comienza al final de tu zona de confort</p>
				<span class="info">Empieza ahora</span>
			</div>
		</div>
		<img src="images/gym.jpeg" alt="" class="bg-stretch">
	</section>
	<section class="main">
		<div class="container">
			<div id="cta">
				<a href="javascript:" class="btn btn-primary rounded">Comenzar entrenamiento</a>
				<p>Todos los dias son un reto, cambia tu vida ahora.</p>
			</div>
			<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>Sobre Nosotros</h2>
					<p>Un atleta no corre con el dinero en sus bolsillos. El debe correr con su corazón y su cabeza llenos de esperanza por lograrlo.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="area">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<ul class="visual-list">
					
					<li th:each="insta:${instalaciones}">
							<div class="img-holder">
								<a href="#"><img src="../static/images/baloncesto.png" width="90" alt=""></a>
							</div>
							<div class="text-holder">
								<h3><a href="#" th:text="${insta.Nombre}"></a></h3>
								<p th:text="${insta.Descripcion}"></p>
								
							</div>
						</li>
						<li>
							<div class="img-holder">
								<a><img src="images/baloncesto.png"class="min" width="90" alt=""></a>
							</div>
							<div class="text-holder">
								<h3><a href=" ">Entrenamiento de Baloncesto</a></h3>
								<p>Podra disfrutar de paisajes y rutas montañosas mientras se prepara para este ejercicio que combina coordinación, velocidad y resistencia.</p>
								
							</div>
						</li>
						<li>
							<div class="img-holder">
								<a><img  src="images/volley.png" class="min" width="120" alt=""></a>
							</div>
							<div class="text-holder">
							</br>
								<h3><a href=" ">Entrenamiento Intenso de Volleyball</a></h3>
								<p>Con nuestra gran pista de Volleyball cubierta, podra practicar este deporte , guiados por un profesor altamente cualificado para conseguir el máximo rendimiento. </p>
							</div>
						</li>
						
						<li>
							<div class="img-holder">
								<a><img src="images/tennis.png"class="min" height="114" alt=""></a>
							</div>
							<div class="text-holder">
							</br>
							
								<h3><a href=" ">Pistas de Tenis</a></h3>
								<p>Gracias a nuestro atleta Mike Wazowski, aprendera a dominar cualquier ola y asi conseguir romper records mundiales. </p>
							</div>
						</li>
						<li>
							<div class="img-holder">
								<a><img src="images/pesa.png"class="min" height="100" alt=""></a>
							</div>
							<div class="text-holder">
							</br>
							
								<h3><a href=" ">Gimnasio</a></h3>
								<p>Desde el mismisimo bosque de Sherwood , ha llegado el gran Robin de Locksley , con su ayuda podrá lanzar una flecha a metros de distancia y dar justo en el blanco. </p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<div class="slide-holder">
						<div class="img-slide scroll-trigger"><img id="up"src="images/gimnasio.png" height="624" width="684" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="visual-container">
		<div class="visual-area">
			<div class="container">
				<h2>Opiniones de nuestros clientes</h2>
				<ul class="testimonials">
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-1.png" height="84" width="124" alt=""></a></div>
						<p><em>Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-2.png" height="90" width="148" alt=""></a></div>
						<p><em>Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</em></p>
					</li>
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-3.png" height="100" width="100" alt=""></a></div>
						<p><em>In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </em></p>
					</li>
					
					<li>
						<div class="img-holder"><a href="#"><img src="images/logo-4.png" height="50" width="108" alt=""></a></div>
						<p><em>Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</em></p>
					</li>
				</ul>
			</div>
		</div>
		<div class="visual-area">
			<div class="container">
				<h2>Planes de precios para gimnasio</h2>
				<div class="pricing-tables">
					<div class="plan">
		                <div class="head">
		                    <h3>Estudiantes</h3>
		                </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>15</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                <ul class="item-list">
		                    <li>Matricula(+15 el primer mes)</li>
		                    <li> + cuota mensual</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>Jovenes(-21)</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>25</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                    <ul class="item-list">
		                       <li>Matricula(+25 el primer mes)</li>
		                       <li> + cuota mensual</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan">
		                <div class="head">
		                    <h3>Adultos(25-50)</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>35</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                    <ul class="item-list">
		                        <li>Matricula(+35 el primer mes)</li>
		                        <li>+ cuota mensual</li>
		                    </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
		            <div class="plan recommended">
		                <div class="head">
		                    <h3>Familiar</h3> </div>
		                <div class="price">
		                    <span class="price-main"><span class="symbol">€</span>45</span>
		                    <span class="price-additional">mes</span>
		                </div>
		                <ul class="item-list">
		                    <li>(Para 5 personas acreditando ser familiares)</li>
		                    <li>Matricula(+45 el primer mes)</li>
		                        <li>+ cuota mensual</li>
		                </ul>
		                <button type="button" class="btn btn-default rounded">Comprar</button>
		            </div>
				</div>
 			</div>
		</div>
	</section>
    
	<section class="area">
		<div class="container">
			<div class="subscribe">
				<h3>Contacta con nosotros</h3>
				<form class="form-inline">
					<button type="submit" class="btn btn-primary rounded">Contactar</button>
					
				</form>
			</div>
		</div>
	</section>
	
	<footer id="footer">
		<div class="container">
		
			<div class="footer-holder">
				<div class="row  text-center">
					<div class="col-md-12">
						<a href="#"><img src="images/logo-footer.png" alt="Sports HTML Template"></a>
					</div>
					  
				</div>
                <div class="row">
                	<div id="cta" class="cta-footer">
                        <a href="javascript:" class="btn btn-primary rounded">Comenzar entrenamiento</a>
                        <p>Todos los dias son un reto, cambia tu vida ahora.</p>
                    </div>
                </div>
                <div class="row">
                	<div class="col-md-6">
                    	<h3>Localización</h3>
                        
                        <p>
                        	Calle del Amor Hermoso, 52 Almería, España
                        </p>
                    </div>
                    
                    <div class="col-md-6 text-right">
                    	<ul class="social">
                        	<li><a href="javascript:"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-paper-plane"></i></a></li>
                            <li><a href="javascript:"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
			</div>
		</div>
	</footer>
</div>
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.main.js"></script>
<script>
      $('.min').click(function() {
        var imagen = $(this).attr("src");
        $('#up').attr("src", imagen);
      });
    </script>
</body>
</html>