<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reservas</title>
        <meta name="author" content="Manuel López López,Sofia Rebagliato Torregrosa">
        <link rel="icon" type="image/jpg" href="/favicons/logoHiberus.jpg" sizes="16x16">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/estilosUsuarios.css">
        <style>
        </style>
    </head>
    <body>
        <div class="container">
            <form action="/reservas/guardarReserva"th:object="${Reservas}" method="post"  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-2">
                        <label for="IdR"></label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">
                            <input th:field="*{IdR}" type="hidden"required class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Instalación">Instalación</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">
                           <i class="far fa-2x fa-user"style="color:white;">&nbsp;</i> <input type="text"th:field="*{Nombre}" required class="form-control"  />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Descripción">Descripción</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                           <i class="far fa-2x fa-edit"style="color:white;"></i> <input type="text"th:field="*{Descripcion}" required class="form-control"name="Descripcion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <label for="Imagen">Imagen</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">
                           <i class="far fa-2x fa-file-image"style="color:white;margin-right:5px;">&nbsp;</i> <input type="text"th:field="*{Imagen}" name="Imagen" class="form-control" >
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="Precio">Precio</label>
                    </div>
                    <div class="col-10">
                        <div class="input-group mb-2">

                           <i class="fas fa-2x fa-euro-sign"style="color:white;margin-right:17px;"></i> <input type="number"th:field="*{Precio}" required class="form-control" name="Precio" />
                        </div>
                    </div>
                </div>
                <input type="submit" class="btnCrear" value="Crear" >
            </form>
        </div>
    </body>
</html>
